main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-card{
  width: 400px;
  height: 500px;
  background-color: green;
  margin-top: 4rem;
  border-radius: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
