<section class="main">
  <div class="chef">
    <h2>Being a chef</h2>
    <div class="chef-content">
      <p>
        Since 2009 I've been working on kitchen's, throught hard work and study I
        became the head Chef of an hotel.
      </p>
      <img width="400px" src="../../../assets/IMG-20180710-WA0000.jpg" alt="cooking">
    </div>
  </div>
  <div class="developer">
    <h2>Becoming a software developer</h2>
    <div class="developer-content">
      <p>
        After I became a dad and during the lockdown for COVID, I realised that it
        was time to embrace the new era and learn new skills for my future.
      </p>
      <img width="400px" src="../../../assets/development.jpg" alt="Develop">
    </div>
  </div>
</section>
