.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.chef{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.chef > h2{
  padding: .5rem;
  background-color: burlywood;
  border: 1px solid black;
  border-radius: 20%;
  box-shadow: 2px 2px 1px black;
}
.chef-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chef-content > p{
  color: black;
}
.developer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.developer > h2{
  padding: .5rem;
  background-color: burlywood;
  border: 1px solid black;
  border-radius: 20%;
  box-shadow: 2px 2px 1px black;
}
.developer-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.developer-content > p{
  color: black;
}

