<section class="main">
  <div class="main-text">
    <h1>Welcome</h1>
    <p>Some examples of display</p>
  </div>
  <div class="titles">
    <h2>Display-block</h2>
    <h2>Display-inline</h2>
    <h2>Display flex space arround</h2>
  </div>
  <div class="display">
    <div class="display-block">
      <div class="box">1</div>
      <div class="box">2</div>
      <div class="box">3</div>
    </div>
    <div class="display-inline">
      <div class="box">1</div>
      <div class="box">2</div>
      <div class="box">3</div>
    </div>
    <div class="display-space">
      <div class="box">1</div>
      <div class="box">2</div>
      <div class="box">3</div>
    </div>
  </div>
</section>
<div class="container">
  <h2>Slider with API Images</h2>
  <app-product></app-product>
</div>
