*{
  font-family: sans-serif;
}
.main{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2rem;
}
.main-text{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main-text > h1{
  color: black;
}
.titles{
  display: grid;
  grid-template-columns: 32% 32% 32%;
  column-gap: 1rem;
}
.display{
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 32% 32% 32%;
  column-gap: 1rem;
}
.box{
  height: 100px;
  width: 100px;
  background-color: black;
  border: 1px white dotted;
  color: white;
}
.display-block{
  display: block;
  border: 1px #ccc solid;
}
.display-inline{
  display: inline-flex;
  border: 1px #ccc solid;
}
.display-space{
  display: flex;
  justify-content: space-around;
  border: 1px #ccc solid;
}

/*########### SLIDER #################*/
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

