.product-section{
  display: flex;
  flex-direction: row;
}
.swiper{
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  border-radius: 2rem;
}

.controler{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
}
.controler button{
  border-radius: 100%;
}
.description{
  top:0;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  border: 1px solid black;
  border-radius: 2rem;
  background-color: #ccc;
  width: 500px;
  height: auto;
  margin-left: 2rem;
}
.description h2{
  align-self: center;
  background-color: azure;
  border-radius: 1rem;
}
.description p{
  align-self: center;
}
