<div class="product-section">
  <div class="swiper">
    <img width="300px" height="300px" [src]="product.image" alt="imagen" />
    <div class="controler">
      <button (click)="showPrevProduct()">
        <img src="../../../assets/icons8-previous-48.png" />
      </button>
      <button (click)="showNextProduct()">
        <img src="../../../assets/icons8-next-48.png" />
      </button>
    </div>
  </div>
  <div class="description">
    <h2>{{product.title}}</h2>
    <p>{{product.description}}</p>
  </div>
</div>
