<nav class="desktop-tablet">
  <div class="nav">
    <div class="left-nav">
      <img width="100" height="100" [src]="navImg" *ngIf="navImg; else elseImg">
      <ng-template #elseImg>
        <img width="100" height="100" src="../../../assets/20211027_223652.jpg">
      </ng-template>
    </div>
   <div class="right-nav">
    <ul>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/about">About Me</a></li>
      <li><a routerLink="/contact">Contact Me</a></li>
    </ul>
   </div>
  </div>
</nav>
<nav class="phone">
  <div class="nav-phone">
    <div class="left-nav-phone">
      <img width="100" height="100" [src]="navImg" *ngIf="navImg; else elseImg">
      <ng-template #elseImg>
        <img width="100" height="100" src="../../../assets/20211027_223652.jpg">
      </ng-template>
    </div>
    <div class="right-nav-phone">
      <button class="burger-menu" (click)="toggleMenu()">
        <img width="50" height="50" src="../../../assets/menu-button-of-three-horizontal-lines.png">
      </button>
      <div class="side-menu" [class.active]="showMenu">
        <button (click)="toggleMenu()">Close</button>
        <ul>
          <li><a routerLink="/home">Home</a></li>
          <li><a routerLink="/about">About Me</a></li>
          <li><a routerLink="/contact">Contact Me</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>

