*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.nav{
  width: 75%;
  background-image: url('../../../assets/pawel-czerwinski-wtljKRoxsZE-unsplash.jpg');
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border: 1px black solid;
}
.left-nav{
  margin-left: 2rem;
}
.right-nav{
  margin-left: 2rem;
}
li{
  display: inline-block;
  list-style: none;
  margin-right: 1rem;
}
a{
  text-decoration: none;
  color: black;
}
a:hover{
  color: rgb(95, 87, 87);
}
img{
  border-radius: 50%;
}
.side-menu{
  position: fixed;
  top:0;
  left:0;
  right: 0;
  bottom:0;
  background-image:url('../../../assets/pawel-czerwinski-wtljKRoxsZE-unsplash.jpg');
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transform: translateX(-100%);
  transition: all ease-out 1s;
  &.active{
    transform: translateX(0%);
  }
}
.side-menu button{
  width: 25%;
  align-self: center;
  margin-top: 1rem;
}
.side-menu ul{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.side-menu ul li{
  margin-top: 2rem;
}
.side-menu ul li a:hover{
  color: rgb(95, 87, 87);
}
/*############### PHONE ###############*/
@media screen and (max-width:529px){
  .desktop-tablet{
    display: none;
  }
  .phone{
    display: inline-block;
    width: 100%;
    background-image: url('../../../assets/pawel-czerwinski-wtljKRoxsZE-unsplash.jpg');
    align-items: center;
    border: 1px black solid;
  }
  .nav-phone{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .right-nav-phone > img:hover{
    color: rgb(95, 87, 87);
  }
}

/*############# TABLET & DESKTOP ########*/
@media screen and (min-width:530px){
  .desktop-tablet{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .phone{
    display: none;
  }
}



